body {
  font: 100% $font-stack;
  background-color: $background-color;
  color: $primary-color;
}

.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  text-align: center;
  font-family: $headings-font;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}
