// source: http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css

.speech-bubble {
  position: relative;
  border: 5px solid $primary-color;
  background: $background-color;
  /* css3 */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 400px;
  min-height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media screen and (max-width: $small) {
    width: 100%;
  }

  &:before {
    content: "";
    position: absolute;
    top: -20px; /* value = - border-top-width - border-bottom-width */
    bottom: auto;
    left: auto;
    right: 40px; /* controls horizontal position */
    border-width: 0 20px 20px;
    border-style: solid;
    border-color: $primary-color transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
  }

  /* creates the smaller  triangle */
  &:after {
    content: "";
    position: absolute;
    top: -13px; /* value = - border-top-width - border-bottom-width */
    bottom: auto;
    left: auto;
    right: 47px; /* value = (:before right) + (:before border-right) - (:after border-right) */
    border-width: 0 13px 13px;
    border-style: solid;
    border-color: #fff transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
  }
}
