@font-face {
  font-family: "Rubik";
  src: url("../assets/rubrik/RubikMonoOne-Regular.eot");
  src: url("../assets/rubrik/RubikMonoOne-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/rubrik/RubikMonoOne-Regular.otf") format("opentype"),
    url("../assets/rubrik/RubikMonoOne-Regular.svg") format("svg"),
    url("../assets/rubrik/RubikMonoOne-Regular.ttf") format("truetype"),
    url("../assets/rubrik/RubikMonoOne-Regular.woff") format("woff"),
    url("../assets/rubrik/RubikMonoOne-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
