$font-stack: Helvetica, sans-serif;
$primary-color: #ef8b56;
$secondary-color: #ffffff;
$background-color: #ffffff;
$gray: #ccc;

//screen size variables
$small: 450px;
$medium: 800px;
$large: 1200px;
