$headings-font: "Rubik", Impact;
$font-stack: Helvetica, sans-serif;
$primary-color: #ef8b56;
$secondary-color: #12190a;
$background-color: #ffffff;
$gray: #ccc;
$text-color: #12190a;

//screen size variables
$small: 450px;
$medium: 800px;
$large: 1200px;
