$font-stack: Helvetica, sans-serif;
$primary-color: #ef8b56;
$background-color: #ffffff;
$secondary-color: #ffffff;
$gray: #ccc;
$headings-font: "Milford Black", "Roboto", sans-serif;

//screen size variables
$small: 400px;
$medium: 800px;
$large: 1200px;
